
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

#Old-Site(START)
RewriteRule ^index\.htm$ I-MERCURY_OLD/imercury/index.php [L]
RewriteRule ^(imercury)$ I-MERCURY_OLD/$1/ [L]
RewriteRule ^(imercury|admin|attach|wboard1)/(.*)$ I-MERCURY_OLD/$1/$2 [L]
#Old-Site(END)

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress